.dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0;
    z-index: 1050;
    display: block;
    min-width: 100% !important; 
    width: auto !important; 
    max-width: none !important;
    white-space: nowrap;   
  }
  
  .dropdown-item {
    white-space: nowrap;  
  }
  
  .dropdown-toggle {
    white-space: nowrap; 
  }
  

  .dashboard-header {
    padding: 12px 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.dashboard-icon {
    font-size: 28px;
    color: #61b600;
}

.dashboard-title {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: #333;
}


.table-header{
  background-color: #d4edda !important;
} 


.table-responsive .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
  
  
  